.expense-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: 'Varela Round', sans-serif;
  border-radius: 10px;
  margin: 0.5rem 0;
  background-color: #ffffc7;
}
.expense-item-details {
  display: flex;
  align-items: center;
  width: 50rem;
  margin-left: 2rem;
}

.expense-item-date {
  color: #586f7c;
  width: 10rem;
  padding: 1.5rem 0;
}

.expense-item-name {
  text-transform: uppercase;
  margin-left: 5rem;
  font-size: 1.3rem;
  font-weight: 600;
  color: #233e8b;
}

.expense-item-amount {
  color: #ff6161;
  font-size: 1.1rem;
  font-weight: bold;
  width: 10rem;
}
