.expense-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: 'Varela Round', sans-serif;
  border-radius: 20px;
  box-shadow: 2px 2px 8px rgb(230, 229, 229);
}
.expense-item-details {
  display: flex;
  align-items: center;
}

.expense-item-date {
  color: #586f7c;
}

.expense-item-name {
  text-transform: uppercase;
  margin-left: 10rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: #4d5ce8;
}

.expense-item-price {
  color: #ff6161;
  font-size: 1.1rem;
  font-weight: bold;
}
